:root {
  font-family: "Montserrat", sans-serif;
  line-height: 140%;

  --bg-color:#00100F;
  --accent-color:#33B0AA;
  --white:#ffffff;

}

.container{
  max-width: 1280px;
 
  padding: 0 100px;
  margin: 0 auto;
 }
